.Rproj.user
.Rhistory
.RData
.Ruserdata
.DS_Store
docs
inst/doc
figure/
tests/testthat/_problems/
tests/testthat/testthat-problems.rds
data-raw/.oracle-bayesian-multilevel-checkpoint.rds
data-raw/.oracle-bayesian-incomplete-fixed-nested-checkpoint.rds
